<div id="error" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-title">
                    <h3>
                        <span style="vertical-align: top; padding-right: 5px">We're sorry !! </span>
                        <i class="material-icons">sentiment_very_dissatisfied</i>
                    </h3>
                </div>
            </div>
            <div class="modal-body">
                <p>Check if your Sudoku was incomplete. We cannot resolve yours!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>