<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Sudoku Solver</title>

    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.min.css" />
        <link rel="stylesheet" type="text/css" href="css/ripples.min.css" />
    {% endblock %}

</head>
<body>
<header>
    <div class="well text-center">
        <h2 class="">SUDOKU SOLVER</h2>
    </div>
</header>

<section class="text-center col-xs-12">
    {% include ('sudokuForm.twig') with {'title':"Fill and Solve!"} %}
</section>

{% if sudokuCompleted is defined %}
<section class="text-center col-lg-12">
    <div>
        {% include ('sudokuPrinter.twig') with {'title':"Original", 'sudoku':sudokuEmpty} %}

        {% include ('sudokuPrinter.twig') with {
        'title':"Solved",
        'sudokuOriginal':sudokuEmpty,
        'sudoku':sudokuCompleted
        } %}
    </div>
</section>
{% endif %}

{% if error is defined %}
    {% include ('cannotResolve.twig') %}
{% endif %}

{% block scripts %}
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/material.min.js"></script>
    <script type="text/javascript" src="js/ripples.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/sudokuForm.js"></script>
{% endblock %}

<footer class="col-xs-12">
    <h4>
        <span>Web Application development by </span>
        <a href="https://github.com/ivandelabeldad">Iván de la Beldad Fernández</a>
    </h4>
</footer>

</body>
</html>