{% import ('macros.twig') as macros %}
<div class="panel panel-primary sudoku-panel">
    <div class="panel-heading">
        <h4>{{ title }}</h4>
    </div>
    <div class="panel-body">
        <table>
            {% for vertical in 1..9 %}
                <tr>
                    {% for horizontal in 1..9 %}
                        <td class="{{ macros.setBorderClass(horizontal, vertical) }}">
                            {% set v = sudoku[horizontal][vertical] %}
                            {% if sudokuOriginal[horizontal][vertical] != 0 %}
                                <span class="number-original">{{ v }}</span>
                            {% elseif v != 0 %}
                                <span>{{ v }}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>