table * {
	font-size: 2.5rem;
}
header {
	margin-bottom: 50px;
}
header h2 {
	color: #448AFF;
	padding-bottom: 5px;
}
section {
	margin-bottom: 60px;
}
table tr td {
	border: 1px solid #999;
	padding: 0;
	margin: 0;
	width: 0;
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
table tr td div {
	z-index: 100;
	background-color: transparent;
	display: table-cell;
}
table tr td input {
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
}
.sudoku-panel {
	max-width: 500px;
	margin: auto;
}
.keep-ratio-parent {
	width: 100%;
	height: 0;
	padding-top: 50%;
	padding-bottom: 50%;
	position: relative;
}
.keep-ratio-child {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
table {
	border-collapse: collapse;
	background-color: #fafafa !important;
	margin: 0 auto;
	outline: 2px solid #000;
}
footer {
	margin-top: 50px;
	padding: 60px 0;
	background-color: #448AFF;
	text-align: center;
	color: rgba(255, 255, 255, 0.85);
}
footer a {
	color: rgba(255, 255, 255, 0.9);
}
footer a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
.container {
	margin: 20px auto;
	text-align: center;
}
.sub-container {
	display: inline-block;
	margin: 0 75px 150px;
}
.horizontal-strong::before {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	top: -2px;
	left: 0;
	border-top: 2px solid;
	z-index: 100;
}
.vertical-strong::after {
	content: '';
	width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -2px;
	border-right: 2px solid;
	z-index: 100;
}

.number-original {
	color: #F44336;
}
header .well, footer.well {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}

div.panel.panel-info>.panel-heading {
	background-color: #448AFF;
}

.cellPressed {
	background-color: #FFF9C4;
}
.btn-group {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.btn-group a {
	padding: 15px 21px !important;
}
.btn-group-vertical {
	margin-top: 0 !important;
	float: left;
}
.btn-group-vertical a {
	font-size: 1.9rem;
	line-height: 2;
}

@media screen and (max-width: 450px) {
	table * {
		font-size: 2rem;
	}
}

@media screen and (max-width: 530px){
	.btn-group {
		max-width: 150px;
	}
}
.center-cell span {
	vertical-align: middle;
}
.center-cell:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.center-cell:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
}